:host {
  display: block;
  width: 100%;
  min-height: 100vh;
}

.login-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box; 
}

/* --- Styles MOBILE --- */

.branding-side {
  display: none; 
}

.form-side {
  flex: 1; 
  background-color: #f4f7f6; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

/* --- End MOBILE Styles --- */


.error {
  color: #d32f2f;        
  font-size: 1.5rem;        
  font-weight: 500;        
  margin-top: 0.5rem;
  line-height: 1.2;
}

.form-wrapper {
  width: 100%;
  max-width: 650px; 
  background-color: #f4f7f6; 
  padding: 4rem; 
  box-sizing: border-box;
  text-align: left;
}

.form-wrapper h2 {
  color: var(--dark-text);
  margin-top: 0;
  margin-bottom: 2rem; 
  font-size: 3.2rem; 
  font-weight: 500;
}

.form-group {
  margin-bottom: 3.0rem; 
}

.form-group input {
  width: 100%;
  padding: 1.4rem; 
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box; 
  font-size: 2rem; 
  background-color: #ffffff;
}

.form-group input::placeholder {
  color: #999;
}

.btn-submit {
  width: 100%;
  padding: 1.4rem; 
  border: none;
  border-radius: 8px;
  background-color: var(--brand-orange);
  color: white;
  font-size: 2rem; 
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0rem; 
}

.btn-submit:hover {
  background-color: #d97906; 
}


.main-logo {
  max-width: 800px;
  width: 100%;
  margin-bottom: 0.5rem;
}

.slogan {
  font-size: 2.5rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
}


/* --- MEDIA QUERY (DESKTOP) --- */
@media (min-width: 769px) {
  
  .branding-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-blue);
    color: white;
    padding: 2rem;
    text-align: center;
    box-sizing: border-box;
    flex: 0 0 50%; 
  }
  
  .form-side {
    flex: 0 0 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0%;  
    padding-right: 20%; 
  }
}