version: '3.9'

services:
  postgres:
    image: postgres:14
    container_name: r2h_postgres
    restart: always
    environment:
      POSTGRES_USER: readytohelp
      POSTGRES_PASSWORD: readytohelppwd
      POSTGRES_DB: readytohelp_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
