@import 'mapbox-gl/dist/mapbox-gl.css';

.custom-marker {
  width: 70px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  cursor: pointer;
}