@import 'mapbox-gl/dist/mapbox-gl.css';
:root {
  --primary-blue: #4353ab; 
  --brand-orange: #F58A07; 
  --light-grey: #f4f7f6;
  --dark-text: #333;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


