*,
*:before,
*:after {
  box-sizing: border-box;
}

:after {
  content: "";
}

nav {
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  z-index: 9999;
  float: left;
}

nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  list-style: none !important;
}

nav ul li {
  position: relative;
  width: 70px;
  cursor: pointer;
  background: rgb(0, 0, 0);
  text-transform: uppercase;
  transition: all 0.4s ease-out;
}

.nav-link {
  position: relative;
  display: block;
  width: 70px;
  height: 88px;
  text-decoration: none;
  color: #fff;
}

.nav-link:after {
  position: absolute;
  background: transparent;
  color: rgb(0, 0, 0);
  top: 0;
  left: 70px;
  width: 70px;
  height: 100%;
  opacity: 0.5;
  transform: perspective(400px) rotateY(90deg);
  transform-origin: 0 100%;
  transition: all 0.4s ease-out;
  content: "";
}

nav ul li:nth-child(1) .nav-link:after {
  content: "Map";
  line-height: 88px;
}
nav ul li:nth-child(2) .nav-link:after {
  content: "History";
  line-height: 88px;
}
nav ul li:nth-child(3) .nav-link:after {
  content: "Profile";
  line-height: 88px;
}

nav ul li:hover {
  transform: translateX(-70px);
}
nav ul li:hover .nav-link:after {
  opacity: 1;
  transform: perspective(400px) rotateY(0deg) scale(1);
}

.nav-icon {
  font-size: 32px;
  color: white;
  display: inline-block;
  padding: 25px 0;
  background: transparent;
}

nav ul li > div {
  display: inline-block;
  padding: 15px 0;
  background: transparent;
}

nav ul li div {
  position: relative;
}
