*,
*:before,
*:after {
  box-sizing: border-box;
}

:after {
  content: "";
}

nav {
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 40px;
  right: auto;
  z-index: 9999;
  float: left;
}

nav ul {
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  list-style: none !important;
}

.nav-link {
  position: relative;
  display: block;
  width: 70px;
  height: 88px;
  text-decoration: none;
  color: #fff;
}

/* era: nav ul li:after  -> passa a estar no <a> para ser clicável */
nav ul li .nav-link:after {
  position: absolute;
  background: transparent;
  color: rgb(0, 0, 0);
  top: 0;
  left: 70px;
  width: 70px;
  height: 100%;
  opacity: 0.5;
  transform: perspective(400px) rotateY(90deg);
  transform-origin: 0 100%;
  transition: all 0.4s ease-out;
  content: ""; /* default, é substituído abaixo */
}

/* conteúdos por item (mantém nth-child) */
nav ul li:nth-child(1) .nav-link:after { content: "Map";     line-height: 88px; }
nav ul li:nth-child(2) .nav-link:after { content: "History"; line-height: 88px; }
nav ul li:nth-child(3) .nav-link:after { content: "Profile"; line-height: 88px; }

/* hover: mantém a translação do <li>, e revela o label do <a> */
nav ul li:hover { transform: translateX(-70px); }
nav ul li:hover .nav-link:after {
  opacity: 1;
  transform: perspective(400px) rotateY(0deg) scale(1);
}

/* mantém o ícone como estava */
.nav-icon {
  font-size: 32px;
  color: white;
  display: inline-block;
  padding: 25px 0;
  background: transparent;
}

nav ul li:nth-child(4):after {
  content: "Say hi";
  line-height: 70px;
}

nav ul li:hover {
  transform: translateX(-70px);
}

nav ul li:hover:after {
  opacity: 1;
  transform: perspective(400px) rotateY(0deg) scale(1);
}

nav ul li > div {
  display: inline-block;
  padding: 15px 0;
  background: transparent;
}

nav ul li div {
  position: relative;
}

.roof {
  width: 0;
  height: 0;
  top: 2px;
  border-style: solid;
  border-width: 0 21px 15px 21px;
  border-color: transparent transparent #ffffff transparent;
}

.roof-edge {
  position: absolute;
  z-index: 20;
  left: -17px;
  top: 3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 17px 12px 17px;
  border-color: transparent transparent crimson transparent;
}

/*white triangle over red triangle*/
.roof-edge:after {
  position: absolute;
  left: -14.5px;
  top: 3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 14.5px 10px 14.5px;
  border-color: transparent transparent white transparent;
}

.front {
  position: relative;
  top: 3px;
  width: 28.5px;
  height: 20px;
  margin: 0 auto;
  background: white;
}
